@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: black;
  transition: 0.4s;
  padding: 6px;
}

@media (hover: hover) {
  a:hover {
    color: blue;
    text-decoration: underline;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    padding: 10px;
  }

  #app {
    padding: 0 2rem;
  }
  .login-container {
    width: 580px;
    height: 400px;
  }
  .signup-container {
    width: 650px;
    height: auto;
  }
}
